

ion-slides {
  height: 100%;
  background-color: white;
  max-width: 800px;
}

.swiper-slide{
  display: block;
  margin-bottom: 60px;
  background-color: var(--slide-color-background);
}

ion-slide > h1, h2 {
  margin: 20px 20px 20px 20px;
  color: gray;
  border-color: black;
  border-style: dashed;
}

ion-slide > p {
  font-style: italic;
  font-size: 22px;
  padding: 20px 20px 20px 20px;
  border-color: black;
  border-style: dashed;
}

ion-slide > ion-icon {
  color: red;
}